<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inception.mapper.boardMapper">

	<insert id="boardInsert" >
			insert all
			into board(BIDX,TITLE,USERID,WRITEDATE,CONTENTS,CATEGORY) VALUES(createbidx.nextval,#{title},#{userid},sysdate,#{contents},#{category})
			<foreach collection="tagList" item="tagitem" index="index">
			into boardtag(bidx,tag) values(createbidx.nextval,#{tagitem.tag})
			</foreach>
			SELECT * FROM dual
			
	</insert>

	<update id="boardUpdate" >
		<![CDATA[
			update board
			set CONTENTS = 'adsfasdfasdfasdf'
			where bidx = '2'
		]]>

	</update>

	<insert id="replyInsert">

		<![CDATA[
			insert into BOARDREPLY(ridx,bidx,userid,writedate,contents,TARGETREPLY) values(createridx.nextval,#{bidx},#{userid},sysdate,#{contents},#{targetreply})
		]]>
	</insert>

	<insert id="Scrape">
		<![CDATA[
			insert into scrape(bidx,userid,scrapedate) values(#{bidx},#{userid},sysdate);
		]]>

	</insert>

	<insert id="good">
		<![CDATA[
			insert into goodbad(bidx,g_b_count,userid) VALUES(2,0,#{userid});
		]]>

	</insert>

	<insert id="bad">
		<![CDATA[
			insert into goodbad(bidx,g_b_count,userid) VALUES(2,1,#{userid});
		]]>

	</insert>

	<select id="boardList" resultType="kr.co.inception.board.vo.BoardListVO">
		<![CDATA[ 
			select bidx,contents,userid,HITCOUNT,writedate
			from board
			order by writedate
		]]>
	</select>

	<select id="boardDetail" resultType="kr.co.inception.board.vo.BoardDetailVO">
		<![CDATA[
		
		
		]]>
	</select>

	<select id="boardSimple" resultType="kr.co.inception.board.vo.BoardSimpleVO">
		<![CDATA[
			select b.bidx,b.title,b.userid,b.writedate,b.contents,b.hitcount,b.category,t.tag,g.good,b.bad,s.scrapecount
			from board b,
    			(select listagg(tag,',')within group(order by bidx) as tag
    			from boardtag
    			where bidx=2
    			) t,
    			(select count(g_b_count) as good
    			from goodbad
    			where bidx=#{bidx} and g_b_count = 0
    			) g,
    			(select count(g_b_count) as bad
    			from goodbad
    			where bidx=#{bidx} and g_b_count =1) b,
    			(select count(*) as scrapecount
    			from scrape
    			where bidx=#{bidx}
    			) s
			where b.bidx = #{bidx}
		]]>

	</select>

	<select id="GooderList" resultType="kr.co.inception.board.vo.GooderListVO">
		<![CDATA[
			select bidx,userid from goodbad where bidx =#{bidx} and g_b_count =0
		]]>

	</select>

	<select id="baderList" resultType="kr.co.inception.board.vo.BaderListVO">
		<![CDATA[
		select bidx,userid from goodbad where bidx =#{bidx} and g_b_count =1
		]]>

	</select>

	<select id="replyList" resultType="kr.co.inception.board.vo.ReplyListVO">
		<![CDATA[
			select ridx,targetreply,lpad(' ',3*(level-1)) || contents as contents,level,bidx
			from BOARDREPLY
			where bidx = #{bidx}
			start with targetreply is null
			connect by prior ridx = TARGETREPLY
		]]>

	</select>

	<select id="scrapeList" resultType="kr.co.inception.board.vo.ScraperListVO">
		<![CDATA[
			select bidx,userid from scrape where bidx = #{bidx}
		]]>

	</select>

</mapper>
  
