<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inception.mapper.boardMapper">

  	<insert id="boardInsert">
  
  	</insert>
  
	<update id="boardUpdate">
	
	</update>	
  
  	<insert id="replyInsert">
  	
  	</insert>

	<insert id="Scrape">
	
	</insert>
	
	<insert id="good">
	
	</insert>

	<insert id="bad">
	
	</insert>
	
	<select id="boardList" resultType="kr.co.inception.board.vo.BoardListVO">
	
	</select>
	
	<select id="boardDetail" resultType="kr.co.inception.board.vo.BoardDetailVO">
	
	</select>

	<select id="boardSimple" resultType="kr.co.inception.board.vo.BoardSimpleVO">
	
	</select>

	<select id="GooderList" resultType="kr.co.inception.board.vo.GooderListVO">
	
	</select>
	
	<select id="baderList" resultType="kr.co.inception.board.vo.BaderListVO">
	
	</select>
	
	<select id="replyList" resultType="kr.co.inception.board.vo.ReplyListVO">
	
	</select>
	
	<select id="scrapeList" resultType="kr.co.inception.board.vo.ScraperListVO">
	
	</select>
	
</mapper>
  
  
  
  
  