<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inception.mapper.boardMapper">

	<insert id="boardInsert">
		insert all
		into
		board(BIDX,TITLE,USERID,WRITEDATE,thumbnail,CONTENTS,CATEGORY)
		VALUES(createbidx.nextval,#{title},#{userid},sysdate,#{thumbnail},#{contents},#{category})
		<foreach collection="tagList" item="tagitem" index="index">
			into
			boardtag(bidx,tag) values(createbidx.nextval,#{tagitem.tag})
		</foreach>
		SELECT * FROM dual

	</insert>

	<update id="boardUpdate">
		<![CDATA[
			update board
			set CONTENTS = #{contents}
			where bidx = #{bidx}
		]]>

	</update>

	<insert id="replyInsert">

		<![CDATA[
			insert into BOARDREPLY(ridx,bidx,userid,writedate,contents,TARGETREPLY) values(createridx.nextval,#{bidx},#{userid},sysdate,#{contents},#{targetreply})
		]]>
	</insert>

	<insert id="Scrape">
		<![CDATA[
			insert into scrape(bidx,userid,scrapedate) values(#{bidx},#{userid},sysdate)
		]]>

	</insert>

	<select id="scrapcheck" resultType="int">
		<![CDATA[
			select count(*) from scrape where bidx=#{bidx} and userid=#{userid}
		]]>
	</select>

	<insert id="good">
		<![CDATA[
			insert into goodbad(bidx,g_b_count,userid) VALUES(#{bidx},0,#{userid})
		]]>

	</insert>

	<select id="goodcheck" resultType="int">
		<![CDATA[
			select count(*) from goodbad where bidx=#{bidx} and userid = #{userid}
		]]>
	</select>

	<insert id="bad">
		<![CDATA[
			insert into goodbad(bidx,g_b_count,userid) VALUES(#{bidx},1,#{userid})
		]]>

	</insert>

	<select id="boardList" resultType="kr.co.inception.board.vo.BoardListVO">
		<![CDATA[ 
			select b.bidx,b.hitcount as hitcnt,b.thumbnail,SUBSTR(REGEXP_REPLACE(b.contents, '<[^>]*>|\&([^;])*;', ''),1,25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt
			from ( select distinct bidx,thumbnail,HITCOUNT,contents,TITLE,USERID,WRITEDATE,CATEGORY from board ) b
			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx
			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx
			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx
			order by b.writedate desc
			
		]]>
	</select>

	<select id="boardListCategory" resultType="kr.co.inception.board.vo.BoardListVO">
		<![CDATA[ 
			select b.bidx,b.hitcount as hitcnt,b.thumbnail,SUBSTR(REGEXP_REPLACE(b.contents, '<[^>]*>|\&([^;])*;', ''),1,25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt
			from ( select distinct bidx,HITCOUNT,thumbnail,contents,TITLE,USERID,WRITEDATE,CATEGORY from board ) b
			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx
			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx
			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx
			where category =#{category}
			order by b.writedate desc
		]]>
	</select>

	<select id="boardListTag" resultType="kr.co.inception.board.vo.BoardListVO">
		<![CDATA[ 
			select b.bidx,b.hitcount as hitcnt,b.thumbnail,SUBSTR(REGEXP_REPLACE(b.contents, '<[^>]*>|\&([^;])*;', ''),1,25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt
			from ( select distinct bidx,HITCOUNT,contents,thumbnail,TITLE,USERID,WRITEDATE,CATEGORY from board ) b
			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx
			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx
			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx
			left join ( select bidx, tag from boardtag) t on b.bidx = t.bidx
			where tag =#{tag}
			order by b.writedate desc
		]]>

	</select>

	<resultMap id="boardDetail2" type="kr.co.inception.board.vo.BoardDetailVO">
		<id property="bidx" column="bidx" />
		<result property="title" column="title" />
		<result property="userid" column="userid" />
		<result property="writedate" column="writedate" />
		<result property="contents" column="contents" />
		<result property="hitcount" column="hitcount" />
		<result property="category" column="category" />
		<result property="replycount" column="replycount" />
		<collection property="tag" column="tag" javaType="java.util.List"
			resultMap="tagList" />
		<collection property="gooder" column="gooder" javaType="java.util.List"
			resultMap="gooderList" />
		<collection property="bader" column="bader" javaType="java.util.List"
			resultMap="baderList" />
		<collection property="scraper" column="scraper" javaType="java.util.List"
			resultMap="scraperList" />
	</resultMap>
	
	<resultMap id="tagList" type="kr.co.inception.board.vo.TagListVO">
		<id property="tag" column="tag" />
	</resultMap>
	<resultMap id="gooderList" type="kr.co.inception.board.vo.GooderListVO">
		<id property="gooder" column="gooder" />
	</resultMap>
	<resultMap id="baderList" type="kr.co.inception.board.vo.BaderListVO">
		<id property="bader" column="bader" />
	</resultMap>
	<resultMap id="scraperList" type="kr.co.inception.board.vo.ScraperListVO">
		<id property="scraper" column="scraper" />
	</resultMap>

	<select id="boardDetail" resultMap="boardDetail2">
		<![CDATA[
			select b.bidx,b.title,b.userid,b.writedate,b.contents,b.hitcount,b.category,t.tag,g.gooder,bad.bader,s.scraper,rp.replycount
			from ( select bidx,title,contents,userid,writedate,HITCOUNT,category from board where bidx=#{bidx}) b
     			 left join(select bidx,tag from boardtag where bidx=#{bidx})t on b.bidx=t.bidx
			     left join ( select bidx, userid as gooder from goodbad where bidx=#{bidx} and g_b_count='0') g ON b.bidx = g.bidx
     			 left join ( select bidx, userid as bader from goodbad where bidx=#{bidx} and g_b_count='1') bad on b.bidx = bad.bidx
				 left join ( select bidx, userid as scraper from scrape where bidx=#{bidx}) s ON b.bidx = s.bidx
				 left join ( select bidx, count(*) as replycount from BoardReply where bidx=#{bidx} GROUP BY bidx) rp on b.bidx = rp.bidx
		]]>
	</select>
	


	<resultMap id="boardSimple2" type="kr.co.inception.board.vo.BoardSimpleVO">
		<id property="bidx" column="bidx" />
		<result property="title" column="title" />
		<result property="userid" column="userid" />
		<result property="writedate" column="writedate" />
		<result property="contents" column="contents" />
		<result property="hitcount" column="hitcount" />
		<result property="category" column="category" />
		<result property="good" column="good" />
		<result property="bad" column="bad" />
		<result property="scrapecount" column="scrapecount" />
		<result property="replycount" column="replycount" />
		<collection property="tag" column="tag" javaType="java.util.List"
			resultMap="tagList" />
	</resultMap>
	
	<select id="boardSimple" resultMap="boardSimple2">
		<![CDATA[
			select b.bidx,b.title,b.userid,b.writedate,b.contents,b.hitcount,b.category,t.tag,g.good,b.bad,s.scrapecount,r.replycount
			from board b,
    			(select tag
    			from boardtag
    			where bidx=#{bidx}
    			) t,
    			(select count(g_b_count) as good
    			from goodbad
    			where bidx=#{bidx} and g_b_count = 0
    			) g,
    			(select count(g_b_count) as bad
    			from goodbad
    			where bidx=#{bidx} and g_b_count =1) b,
    			(select count(*) as scrapecount
    			from scrape
    			where bidx=#{bidx}
    			) s,
   				(select count(*) as replycount
   				from boardreply
   				where bidx=#{bidx}
   				) r
			where b.bidx = #{bidx}
		]]>
	</select>

	<select id="GooderList" resultType="kr.co.inception.board.vo.GooderListVO">
		<![CDATA[
			select bidx,userid from goodbad where bidx =#{bidx} and g_b_count =0
		]]>

	</select>

	<select id="baderList" resultType="kr.co.inception.board.vo.BaderListVO">
		<![CDATA[
		select bidx,userid from goodbad where bidx =#{bidx} and g_b_count =1
		]]>

	</select>

	<select id="replyList" resultType="kr.co.inception.board.vo.ReplyListVO">
		<![CDATA[
			select ridx,nvl(TARGETREPLY,0) as targetreply,contents,level,bidx,writedate,userid
			from BOARDREPLY
			where bidx = #{bidx}
			start with targetreply is null
			connect by prior ridx = TARGETREPLY
		]]>

	</select>
	<select id="replyList2" resultType="kr.co.inception.board.vo.ReplyListVO">
		<![CDATA[
			select pi.profilepicture,r.ridx,r.TARGETREPLY,lpad('└ ',3*(level-1)) || contents  as contents,r.userid,r.writedate,level,r.bidx
from BOARDREPLY r
left join(select userid,profilepicture from tb_user) pi on r.userid = pi.userid
where bidx = #{bidx}
start with targetreply is null
connect by prior ridx = TARGETREPLY
		]]>

	</select>

	<select id="scrapeList" resultType="kr.co.inception.board.vo.ScraperListVO">
		<![CDATA[
			select bidx,userid from scrape where bidx = #{bidx}
		]]>

	</select>

	<select id="searchkeyword" resultType="kr.co.inception.board.vo.BoardListVO">
		<![CDATA[
		select b.bidx,b.hitcount as hitcnt,b.thumbnail,SUBSTR(b.contents, 1, 25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt
			from ( select distinct bidx,thumbnail,HITCOUNT,contents,TITLE,USERID,WRITEDATE,CATEGORY from board ) b
			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx
			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx
			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx where title like #{searchkeyword} or userid like #{searchkeyword} or contents like #{searchkeyword}
		]]>
	</select>

	<update id="hit">
  		<![CDATA[update board set hitcount = hitcount+1 where bidx =#{bidx}]]>
	</update>


	<select id="tagList" resultType="kr.co.inception.board.vo.TagListVO">
		<![CDATA[
			select tag from boardtag where tag is not null group by tag order by count(tag) desc
		]]>
	</select>
	
	<select id="boarddetailprofilepicture" resultType = "String">
		<![CDATA[
			select p.profilepicture as profilepicture from (select bidx,userid from board) b
left join(select profilepicture,userid from tb_user) p ON b.userid = p.userid where bidx = #{bidx}
		]]>
		
	</select>
	
	<select id="goodbadcheck" resultType ="Int">
		<![CDATA[
			select G_B_count from goodbad where bidx=#{bidx} and userid =#{userid}		
		]]>
	</select>
	
	<delete id="goodbaddelete" >
		<![CDATA[
			delete goodbad where bidx=#{bidx} and userid = #{userid}
		]]>
		
	</delete>
	
	<delete id="descrape">
		<![CDATA[
			delete scrape where bidx=#{bidx} and userid = #{userid}
		]]>	
	</delete>
	
	<update id="updategoodbad">
		<![CDATA[
			update goodbad set G_B_COUNT = #{g_b_count} where bidx= #{bidx} and userid = #{userid}
		]]>
	</update>

	


</mapper>
  
