<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.inception.mapper.profileMapper">

<!-- 	<resultMap type="kr.co.inception.profile.vo.ProfileVO" id="showProfile"> -->
<!-- 		<result property="userid" column="userid" javaType="String"/> -->
<!-- 		<result property="follow" column="followCount" javaType="String"/> -->
<!-- 		<result property="follower" column="followerCount" javaType="String"/> -->
<!-- 	</resultMap> -->


	<select id="showProfile" resultType="kr.co.inception.profile.vo.ProfileVO">
		<![CDATA[

			select u.userid,u.profilepicture,f.followCount,f2.followerCount
			from tb_user u,
  				(select count(follow) as followCount
  				 from userfollow
  				 where userid = #{userid}) f,
  				(select count(follower) as followerCount
  				 from userfollower
  				 where userid = #{userid}) f2
			where userid =#{userid}
		]]>
	</select>
  
	<select id="showProfileBoardList" resultType="kr.co.inception.profile.vo.ProfileBoardListVO">
		<![CDATA[
			select b.bidx,b.hitcount as hitcnt,b.thumbnail,SUBSTR(REGEXP_REPLACE(b.contents, '<[^>]*>|\&([^;])*;', ''),1,25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt
			from ( select distinct bidx,HITCOUNT,thumbnail,contents,TITLE,USERID,WRITEDATE,CATEGORY from board ) b
			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx
			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx
			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx where userid=#{userid}
			order by b.writedate desc
		]]>	
	</select>  
  	
	<select id="showProfileReplyList" resultType="kr.co.inception.profile.vo.ProfileReplyListVO">
		<![CDATA[
			select b.title,r.CONTENTS,r.USERID
			from board b,boardreply r
			where b.bidx = r.bidx and r.userid= #{userid}
			order by b.writedate desc

		
		]]>	
	</select>  
  	
	<select id="showProfileScrapeList" resultType="kr.co.inception.profile.vo.ProfileScrapeListVO">
				<![CDATA[
 			select b.bidx,b.hitcount as hitcnt,SUBSTR(REGEXP_REPLACE(b.contents, '<[^>]*>|\&([^;])*;', ''),1,25) as contents,b.title,b.userid,b.writedate,b.category,nvl(gb.gcnt,0) AS gcnt,nvl(gb.bcnt,0) as bcnt,nvl(s.scrapecnt,0) AS scrapecnt,nvl(rp.rpcnt,0) as rpcnt,scrapedate 
 			from ( select distinct b.bidx,b.HITCOUNT,b.contents,b.TITLE,b.USERID,b.WRITEDATE,b.CATEGORY,s.scrapedate from board b,scrape s where b.bidx=s.bidx and s.userid=#{userid} ) b 
 			left join ( select bidx, count(decode(g_b_count,'0','1')) as gcnt,count(decode(g_b_count,'1','1')) as bcnt from goodbad group by bidx ) gb ON b.bidx = gb.bidx 
 			left join ( select bidx, count(*) as scrapecnt from scrape group by bidx ) s ON b.bidx = s.bidx 
 			left join ( select bidx, count(*) as rpcnt from BoardReply group by bidx) rp on b.bidx = rp.bidx
 			order by b.writedate desc
 		]]>	 
 				
	</select>  
  	
  
  	
  	
  	
	
  
</mapper>
  
  
  
  
  